*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}  


.container{
    width: 100%;
    height: 100vh;
    background: #3e001b; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 100px;
    height: 800px;
    margin: 10px;
    border-radius: 50px;
    background: url(Docs/assets/Weddings_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(Docs/assets/Weddings_2.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(Docs/assets/Weddings_3.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(Docs/assets/Weddings_4.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background: url(Docs/assets/Weddings_5.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
    background: url(Docs/assets/Weddings_5.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:hover{
    width: 550px;
    cursor: pointer;
}
/* for return button */
.return-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999; /* Ensure the button is on top of other elements */
    padding: 10px 20px;
    background-color: #e2a2a5;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}