*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background: linear-gradient(rgba(108, 6, 6, 0.6), rgba(0, 0, 0, 0.6)),;  
}  


.images-portfolio{
=======
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(rgba(108, 6, 6, 0.6), rgba(0, 0, 0, 0.6)),;  
}  
.images{
>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b
    width: 100%;
    height: 100vh;
    background: #3e001b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-box{
    width: 100px;
    height: 800px;
    margin: 10px;
    border-radius: 50px;
<<<<<<< HEAD
    background: url(Docs/Assets/HeadSHot\ \(1\).jpg);
=======
    background: url(Docs/assets/HeadSHot\ \(1\).jpg);
>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
<<<<<<< HEAD
=======
<<<<<<<< HEAD:test/slide.css
>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b
.images-box:nth-child(2){
    background: url(Docs/Assets/HeadSHot\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}
.images-box:nth-child(3){
    background: url(Docs/Assets/HeadSHot\ \(3\).jpg);
    background-size: cover;
    background-position: center;
}
.images-box:nth-child(4){
    background: url(Docs/Assets/HeadSHot\ \(4\).jpg);
    background-size: cover;
    background-position: center;
}
.images-box:nth-child(5){
    background: url(Docs/Assets/HeadSHot\ \(5\).jpg);
<<<<<<< HEAD
=======
========
.img-box:nth-child(2){
    background: url(Docs/assets/HeadSHot\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(Docs/assets/HeadSHot\ \(3\).jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(Docs/assets/HeadSHot\ \(4\).jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background: url(Docs/assets/HeadSHot\ \(5\).jpg);
>>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b:slide.css
>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
<<<<<<< HEAD
    background: url(Docs/Assets/HeadSHot\ \(6\).jpg);
=======
    background: url(Docs/assets/HeadSHot\ \(6\).jpg);
>>>>>>> fcc8dfc883d8feb7087db23a0efb57480eaa003b
    background-size: cover;
    background-position: center;
}
.images-box h3{
    color: #fff;
    position: absolute;
    bottom:0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.images-box:hover{
    width: 550px;
    cursor: pointer;
}
.images-box:hover h3{
    opacity: 1;
    bottom: 25px
}
